.App {
  width: 1200px;
  margin: auto;
}

.Page-header {
  text-align: center;
}
.Page-Description {
  text-align: justify;
}

.App-content {
  width: 60%;
  float: right;
  padding: 20px 10%;
}

.App-sidebar {
  width: 15%;
  padding: 20px 2.5%;
  float:left;
}
